*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.container{
    width: 1200px;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
}

.cat{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cafe{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.geth{
    width: 624px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

.vector{
    width: 21px;
    height: 21px;
}

ul{
    list-style: none;
}

.li_mom{
    width: 250px;
    padding: 15px;
    font-size: 22px;
    font-family: "Jost", sans-serif;
}

.footer{
    margin-top: 200px;
    
}

.li_mum{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    font-family: 'DM Serif Display', serif;
}

.ul_dad{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.ul_bro{
    width: 393px;
}

.ul_cont{
    width: 300px;
}
